body {
  margin: 0;
  min-height: 100vh;
  position: relative; /*←相対位置*/
  padding-bottom: 120px; /*←footerの高さ*/
  box-sizing: border-box;/*←全て含めてmin-height:100vhに*/
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  border: 2px solid lightskyblue;
}

header {
  margin-bottom: 30px;
}

footer {
  width: 100%;
  text-align: center;
  padding: 30px 0;
  position: absolute;/*←絶対位置*/
  bottom: 0; /*下に固定*/
}

/* header p {
  margin-left: auto;
  padding-right: 10px;
  font-weight: bold;
} */

header h1 {
  padding-left: 10px;
  color: azure;
}

footer h1 {
  padding-left: 10px;
  color: azure;
}

header, footer {
  background: lightskyblue;
  padding: 10px 0;
}

h1, h3 {
  margin: 0;
}

main {
  padding: 0 10px;
}

.box {
  border: 2px dashed lightblue;
}

aside {
  padding: 0 10px;
}

aside .box {
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 10px;
}

.img {
  text-align: center;
}

img {
  width: 200px;
  height: auto;
}

a {
  color: blue;
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  color: purple;
  text-decoration: none;
  cursor: pointer;
}

.npe {
  padding: 10px;
}

.error {
  color: red;
}

.pro_ng, .text {
  text-align: center;
}


.back_btn {
  display       : inline-block;
  border-radius : 5%;          /* 角丸       */
  font-size     : 18pt;        /* 文字サイズ */
  text-align    : center;      /* 文字位置   */
  cursor        : pointer;     /* カーソル   */
  padding       : 5px 5px;   /* 余白       */
  background    : gray;     /* 背景色     */
  color         : #ffffff;     /* 文字色     */
  line-height   : 1em;         /* 1行の高さ  */
  transition    : .3s;         /* なめらか変化 */
  box-shadow    : 3px 3px 3px #666666;  /* 影の設定 */
  border        : 2px solid gray;
  margin: 5px;
}

.btn {
  display       : inline-block;
  border-radius : 5%;          /* 角丸       */
  font-size     : 18pt;        /* 文字サイズ */
  text-align    : center;      /* 文字位置   */
  cursor        : pointer;     /* カーソル   */
  padding       : 5px 5px;   /* 余白       */
  background    : #000066;     /* 背景色     */
  color         : #ffffff;     /* 文字色     */
  line-height   : 1em;         /* 1行の高さ  */
  transition    : .3s;         /* なめらか変化 */
  box-shadow    : 3px 3px 3px #666666;  /* 影の設定 */
  border        : 2px solid #000066;
  margin: 5px;
}

.btn_slc {
  display       : inline-block;
  border-radius : 5%;          /* 角丸       */
  font-size     : 18pt;        /* 文字サイズ */
  text-align    : center;      /* 文字位置   */
  cursor        : pointer;     /* カーソル   */
  padding       : 5px 5px;   /* 余白       */
  background    : #f0b65f;     /* 背景色     */
  color         : #ffffff;     /* 文字色     */
  line-height   : 1em;         /* 1行の高さ  */
  transition    : .3s;         /* なめらか変化 */
  box-shadow    : 2px 2px 2px #666666;  /* 影の設定 */
  border        : 2px solid #f0b65f;
  margin: 5px;
}

.back_btn:hover {
  box-shadow    : none;        /* カーソル時の影消去 */
  color         : gray;     /* 背景色     */
  background    : #ffffff;     /* 文字色     */
}

.btn:hover {
  box-shadow    : none;        /* カーソル時の影消去 */
  color         : #000066;     /* 背景色     */
  background    : #ffffff;     /* 文字色     */
}

.btn_slc:hover {
  box-shadow    : none;        /* カーソル時の影消去 */
  color         : #f0b65f;     /* 背景色     */
  background    : #ffffff;     /* 文字色     */
}

@media screen and (min-width: 600px) {
  main {
    width: 70%;
  }

  aside {
    width: 30%;
  }

  .container {
    display: flex;
  }

  .list {
    display: flex;
  }
}
